---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <!--<form id="clForm" data-cl-attached="true" data-cl-id="8c15e5ea915540f29e8bf7361f6ede05" action="http://host.convertlab.com/page/8c15e5ea915540f29e8bf7361f6ede05" method="POST"></form>-->
<form id="clForm" data-cl-attached="true" data-cl-id="b61ba0168b7545548066c9a8ec1ba421" action="http://host.convertlab.com/page/b61ba0168b7545548066c9a8ec1ba421" method="POST"></form>
<script type="text/javascript" src="http://host.convertlab.com/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.convertlab.com", "b61ba0168b7545548066c9a8ec1ba421",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){}
	});

</script>
        
        
    </div>

    

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidenav">
    	<h3>扫描以下二维码绑定微信</h3>
    	<div id="_cl_qrcode" style="width:200px"></div>
	<script>
	(function(c,e,f,b){function a(j){var h=j+"=";var g=document.cookie.split(";");for(var k=0;k<g.length;k++){var l=g[k];while(l.charAt(0)==" "){l=l.substring(1)}if(l.indexOf(h)==0){return l.substring(h.length,l.length)}}return""}function d(){var h=a("c__utma");var g=document.createElement("img");g.setAttribute("style","width: 100%");g.setAttribute("src",c+"?uuid="+e+"&tid="+f+"&utma="+h);document.getElementById(b).appendChild(g)}if(typeof _cl_tracker != "undefined" && _cl_tracker.ready){_cl_tracker.ready(d)}else{setTimeout(d,1000)}})("//host.51convert.cn/qrcode/binding","4a984ed5c3c54729a3f423a10d6343c9","1238467299","_cl_qrcode");
	</script>
    </div>
</div>

<script src="/js/post.js" type="text/javascript"></script>



